/*List view color changes*/


.table-striped tbody tr:nth-of-type(odd):hover{
    background-color: #89bff3; !important;
}

.table-striped tbody tr:nth-of-type(even):hover{
    background-color: #89bff3; !important;
}
.table-striped tbody tr.row_selected{
    background-color: #a9e0e0;!important;
}




