.melon_btn {
    background-color: #3046E7;
    border: none;
    color: white !important;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
}
