// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FormRenderer_chatterContainer {
  max-width: 100%;
  width: 100%;
}


//fixed header bar
.o_form_view .o_form_statusbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-top: -12px
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
  padding-top: 55px !important;
}

//btn color
.btn-fill-primary, .btn-primary {
  color: #fff;
  background-color: #3046E7 !important;
  border-color: #3046E7 !important;
}


.o_searchview .o_searchview_facet .o_searchview_facet_label {
  background-color: #3046E7 !important;
}

.o_search_panel_category .o_search_panel_section_icon {
  color: #3046E7 !important;
}


.o_required_modifier.o_input, .o_required_modifier .o_input {
  background-color: #ffffff !important;
  color: #556ee6 !important;
  border-left: solid 5px #f46a6a !important;
}

.oe_stat_button .o_button_icon {
  color: #556ee6 !important;
}

.btn.oe_stat_button > .o_stat_info .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_value {
  color: #556ee6 !important;
}

a {
  color: #556ee6;
}