.bg-g1 {
    background: #111111;
}
.size1 {
    width: 100%;
    min-height: 100vh;
}
.flex-w,
.flex-w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-col-c-sb {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.p-l-15 {
    padding-left: 15px;
}
.p-b-30 {
    padding-bottom: 30px;
}

.flex-c {
    justify-content: center;
}
.wsize1 {
    max-width: 100%;
    width: 360px;
}
.bor1 {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.flex-col-c {
    -ms-align-items: center;
    align-items: center;
}
.w-full {
    width: 100%;
}
.p-t-50 {
    padding-top: 50px;
}
.p-b-80 {
    padding-bottom: 80px;
}
.txt-center {
    text-align: center;
}
.l1-txt2 {
    font-family: Ubuntu-Regular;
    font-size: 24px;
    color: #fff;
    line-height: 1.5;
}
.p-b-43 {
    font-size: 30px;
}
.s1-txt2 {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
